.car-models{
    width: 25vw;
    height: 30vh;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 1px  rgb(185, 185, 185);
    margin: 1vw;
    display: flex;
    flex-wrap: wrap;
}
.car-models-foto{
    width: 17vw;
}
.car-models-foto > img{
    width: 17vw;
}
.car-models-description{
    width: 6vw;
}
@media screen and (max-width: 480px) {
    .car-models{
        width: 80vw;
    }

  }